<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soboapps.ohfark"
    android:installLocation="auto"
    android:versionCode="207"
    android:versionName="2.0.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <application

        android:icon="@drawable/icon"
        android:allowBackup="true"
        android:launchMode="singleTask"
        android:clearTaskOnLaunch="true"
        android:label="@string/app_name" >
        <activity
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:name=".OhFarkActivity" >
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:label="@string/app_name"
            android:exported="false"
            android:name=".Flip180" >
            <intent-filter>
                <action 
                    android:name="android.intent.action.FLIP180" />
                <category 
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Options"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name" />
        <activity
            android:name=".ScoringOptions"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name" />
        <activity
            android:name=".PlayerSetup"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name" />
        <activity
            android:name=".Help"
            android:finishOnTaskLaunch="true"
            android:label="@string/stHelp" />
        <activity
            android:name=".About"
            android:finishOnTaskLaunch="true"
            android:label="@string/stAbout_lr"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.soboapps.ohfark.ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GameOver"
            android:finishOnTaskLaunch="true"
            android:label="Game Over"
            android:exported="false"
            android:background="#c0000000"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

    </application>
</manifest>